@font-face {
  font-family: "roboto";
  src: url("../Assets/Fonts/Roboto-Regular-webfont.woff") format("woff"),
    url("../Assets/Fonts/Roboto-Bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url("../Assets/Fonts/Roboto-Bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
/* END font-face */

body {
  font-family: roboto;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

header,
footer {
  background-color: #1f2937;
  color: #f9faf8;
}

.copyright {
  text-align: center;
}

button {
  background-color: #3882f6;
  color: #e5e7eb;
  width: 80px;
  height: 35px;
  border-radius: 5px;
  padding: 5px 15px;
}

/* Nav styling */
nav {
  display: flex;
  justify-content: space-between;
  margin: 25px;
}
nav * {
  flex: 1;
}
.nav_links {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.nav_links li {
  display: inline-block;
  margin: 5px;
}
.nav_links a {
  text-decoration: none;
  text-align: center;
  color: #e5e7eb;
  height: 100%;
  width: 100%;
  display: inline-block;
}

/* Hero styling */

.hero {
  display: flex;
  justify-content: space-between;
  margin: 25px;
  padding: 0 30px 50px 0;
}

.hero > div {
  flex: 0 0 auto;
  max-width: 50%;
}

.hero_content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}

/* Random info styling */

.random_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ilustrations_container {
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
}

.ilustrations_container img {
  border: 2px solid #3882f6;
  border-radius: 5px;
  padding: 0;
}
/* Quote styling */
.quote {
  background-color: #e5e7eb;
}

.author {
  font-weight: bold;
  float: right;
}

/* Call to action styling */
.cta {
  clear: both;
  display: flex;
  justify-content: space-around;
  background-color: #3882f6;
  color: #e5e7eb;
  padding: 25px;
}
