/* ====================
Fonts import
======================*/
@font-face {
  font-family: "roboto";
  src: url(../FONTS/Roboto-Regular-webfont.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url(../FONTS/Roboto-Bold-webfont.woff);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url(../FONTS/Roboto-Italic-webfont.woff);
  font-weight: normal;
  font-style: italic;
}
/* ====================
Global setings
======================*/

:root {
  /* colors */
  --body-background-color: #d7dee3;
  /* --form-background-color: #f6f7f8; */
  --form-background-color: #f1f6f4;
  --font-color: #5d6063;
  --form-border-color: #e0e3e6;

  /* fonts */
  --heading-font: "roboto";

  /* box sizing */
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  background-color: var(--body-background-color);
  color: var(--font-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.125em;
  line-height: 1.3;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-page-heading {
  font-family: var(--heading-font);
}
.speaker-form-header,
.speaker-submission-form {
  width: 80%;
  background-color: var(--form-background-color);
  margin-top: 40px;
  padding: 50px;
  border: 2px solid var(--form-border-color);
  border-radius: 5px;
  text-align: center;
}

.speaker-form-header {
  font-size: 30px;
  margin-bottom: 20px;
}

.speaker-submission-form ul {
  list-style: none;
}

.form-row {
  margin: 0 0 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.form-row input[type="text"],
.form-row input[type="email"] {
  background-color: #fff;
  border: 1px solid #d6d9dc;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}

.form-row label {
  margin-bottom: 14px;
}

.legacy-form-row {
  border: none;
  margin: 0 0 40px 0;
}

.legacy-form-row legend {
  /* display: block; */
  margin: 0 0 15px 0;
}

.legacy-form-row label {
  display: block;
  font-size: 14px;
  padding: 0 20px 0 10px;
}

.legacy-form-row input[type="radio"] {
  margin: 2px 0 0 0;
}

.legacy-form-row input[type="radio"],
.legacy-form-row label {
  float: left;
}
.form-row textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;

  border: 1px solid #d6d9dc;
  border-radius: 3px;

  min-height: 200px;
  margin: 0 0 10px 0;
  padding: 7px;
  resize: none;
}
.form-row .instructions {
  color: #999999;
  font-size: 14px;
  margin-bottom: 30px;
}

.form-row .cbx-label {
  margin-bottom: 0;
}

.form-row button {
  font-size: 16px;
  font-weight: bold;

  color: #ffffff;
  background-color: #5995da;

  border: none;
  border-radius: 3px;

  padding: 10px 40px;
  cursor: pointer;
}

.form-row button:hover {
  background-color: #76aeed;
}

.form-row button:active {
  background-color: #407fc7;
}

/* //////////////////// */
/* Desktop styles      */
/* ////////////////// */

@media only screen and (min-width: 700px) {
  .speaker-form-header,
  .speaker-submission-form {
    width: 600px;
  }
  .form-row {
    flex-direction: row;
    /* align-items: flex-start; to avoid stretching */
    margin-bottom: 20px;
  }
  .form-row input[type="text"],
  .form-row input[type="email"],
  .form-row select,
  .form-row textarea {
    width: 250px;
    height: initial;
  }

  .form-row input[type="text"]:invalid,
  .form-row input[type="email"]:invalid {
    border: 1px solid #d55c5f;
    color: #d55c5f;
    box-shadow: none;
  }

  .form-row label {
    text-align: right;
    width: 120px;
    margin-top: 7px;
    padding-right: 20px;
  }

  .legacy-form-row {
    margin: 0 0 10px 0;
  }

  .legacy-form-row legend {
    width: 120px;
    text-align: right;
    padding-right: 20px;
    float: left;
  }

  .legacy-form-row input[type="radio"],
  .legacy-form-row label {
    float: left;
  }

  .form-row .instructions {
    margin-left: 120px;
  }

  .form-row .cbx-label {
    /* margin-left: 120px; */
    width: auto;
  }

  .form-row button {
    margin-left: 120px;
  }
}

/* Color mode toggler stylling */

.toggle {
  display: none;
}